<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <script src="/js/home/login.js" defer></script>
    <title>환영합니다!</title>
</head>
<body>

  <!-- 회원가입 폼 -->
  <div class="form-structor">
    <div class="signup slide-up">
      <h2 class="form-title" id="signup">
        <span>or</span> 회원가입
      </h2>

      <form action="/register" method="post">
      <div class="form-holder">
        <input type="text" class="input" name="username" placeholder="아이디를 입력해주세요." required>
        <input type="password" class="input" name="password" placeholder="비밀번호를 입력해주세요." required>
      </div>

      <button class="submit-btn">회원가입</button>
    </form>
    </div>

    <!-- 로그인 폼 -->
    <div class="login">
      <div class="center">
        <h2 class="form-title" id="login">
          <span>or</span> 로그인
        </h2>

        <form action="/login" method="post">
        <div class="form-holder">
          <input type="text" class="input" name="username" placeholder="아이디를 입력해주세요." required>
          <input type="password" class="input" name="password" placeholder="비밀번호를 입력해주세요." required>
        </div>

        <button type="submit" class="submit-btn">로그인</button>
      </form>
      </div>
    </div>
  </div>

  <!-- <div class="box">
    <div class="form">
      <h2>포트폴리오</h2>
      <form action="/login" method="post">
      <div class="inputBox">
        <input type="text" name="username" required>
        <span>아이디</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="password" name="password" required>
        <span>비밀번호</span>
        <i></i>
      </div>

      <div class="links">
        <a href="#">비밀번호 찾기</a>
        <a href="/register">회원가입</a>
      </div>

      <input type="submit" value="로그인">
      </form>
    </div>
  </div> -->
</body>
</html>