<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <script src="/js/home/login.js" defer></script>
    <title>로그인</title>
</head>
<body>
  <div class="box">
    <div class="form">
      <h2>포트폴리오</h2>
      <form action="/login" method="post">
      <div class="inputBox">
        <input type="text" name="username" required>
        <span>아이디</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="password" name="password" required>
        <span>비밀번호</span>
        <i></i>
      </div>

      <div class="links">
        <a href="#">비밀번호 찾기</a>
        <a href="/register">회원가입</a>
      </div>

      <input type="submit" value="로그인">
      </form>
    </div>
  </div>
      <!-- <div class="container">
        <div class="box box-one">
          <i class="fa-brands fa-yarn"></i>
          <button class="google-btn">
            <i class="fa-brands fa-google"></i>
            <span>구글로 로그인하기</span>
          </button>
        </div>

        <div class="box box-two">
          <form>
            <div>
              <i class="fa-solid fa-user"></i>
              <input type="text" id="id" placeholder="아이디"/>
            </div>
            <div>
              <i class="fa-solid fa-lock"></i>
              <input type="password" id="password" placeholder="비밀번호"/>
            </div>
          </form>
          <button class="login-btn">로그인</button>
          <button class="find-btn">비밀번호 찾기</button>
          <p class="message">회원이 아니십니까? <a href="/register">회원가입</a></p>
        </div>
      </div> -->
</body>
</html>